extends ../layout
block content
	.container
		- location = [{"url": "/", "name": "Site"}, {"url": "/teams", "name": "Teams"}, {"url": "/teams/"+team.region, "name": displayNames[team.region]}, {"url": "/team/"+team.acronym, "name": team.acronym}];
		include ../inc/breadcrumb.jade
		.team.col-md-3.text-center
			img(src=relUrl+"static/img/teams/"+team.acronym+".png")
			
		.col-md-9
			.title.text-left
				h2 #{team.name}
			p.description 
				|&nbsp;#{team.description}
		.col-md-12
			h4 Team Members
			.players
				table.table.table-striped.table-hover.table-bordered.players
					thead
						tr
							th
								|Player
								
					tbody
						each player in players
							tr.player
								td
									img(src=relUrl+"static/img/players/"+player.name+".png")
									strong.name #{player.name}
									|  // #{player.position}
		.col-md-12
			h4 Upcoming Games
			.well contents
		.col-md-12
			h4 Previous Games
			.well contents
	style.
		.players {
			text-align: justify;
			width: 100%;
		}
		.player, .player > td {
			height: 59px;
			overflow: hidden;
		}
		.player > td > img {
			height: 59px;
		}
		.team {
			line-height: 250px;
			vertical-align: middle;
			margin: auto;
		}
		.team img {
			width: 200px;
			margin: auto;
			vertical-align: middle;
		}
		td {
			height: 59px;
			overflow: hidden;
			line-height: 59px!important;
			padding: 0!important;
		}
		tbody.winner {
			color: lightgreen;
		}
		tbody.loser {
			color: #ff8080;
		}